.dropdown-menu {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

/* Hiển thị dropdown khi có class 'active' */
.dropdown-menu.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}